<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.sunboard.mapper.BoardMapper">

    <insert id="insertPost" parameterType="BoardDTO">
        INSERT INTO POST
        (
        `USER_NO`,
        `TITLE`,
        `CONTENT`,
        `UPLOAD_DATE`,
        `HASHTAG`,
        `MODIFIED_DATE`,
        `STATUS`,
        `HIT`)
        VALUES
        (
        #{userNo},
        #{title},
        #{content},
        now(),
        #{hashtag},
        null,
        '1',
        '0')
    </insert>

    <delete id="deletePost" parameterType="int">
        DELETE FROM POST
        WHERE POST_ID = #{postId}
    </delete>

    <update id="updatePost" parameterType="BoardDTO">
        UPDATE POST
        SET TITLE = #{title}, CONTENT = #{content}, HASHTAG = #{hashtag}, MODIFIED_DATE = now()
        WHERE POST_ID = #{postId}
    </update>

    <select id="getBoardList" resultType="BoardDTO">
        SELECT
            Post_ID as postId,
            USER_NO as userNo,
            TITLE as title,
            CONTENT as content,
            UPLOAD_DATE as uploadDate,
            HASHTAG as hashtag,
            MODIFIED_DATE as modifiedDate,
            STATUS as status,
            HIT as hit
        FROM POST
        WHERE STATUS = 1
    </select>

    <select id="seletePost" resultType="BoardDTO">
        SELECT
        Post_ID as postId,
        USER_NO as userNo,
        TITLE as title,
        CONTENT as content,
        UPLOAD_DATE as uploadDate,
        HASHTAG as hashtag,
        MODIFIED_DATE as modifiedDate,
        STATUS as status,
        HIT as hit
        FROM POST
        WHERE STATUS = 1
        AND Post_ID = #{postId}
    </select>

    <update id="updateHit">
        UPDATE POST
        SET HIT = #{hit}
        WHERE POST_ID = #{postId}
    </update>

    <insert id="insertLike" >
        INSERT INTO `LIKE`
        (
        `USER_NO`,
        `POST_ID`
        )
        VALUES
        (
        #{userNo},
        #{postId}
        )
    </insert>

</mapper>